
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    border: 0;
}

.divisorBase {
    width: 720px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    margin-top: 80px;
    border-radius: 15px;
}



